/* =========================
   Fonts
   =========================*/

body { font:normal 12px $textReg, Helvetica; color:$colDark; line-height: 1; letter-spacing: 0.5px; -ms-overflow-style: scrollbar; }
body * { -webkit-font-smoothing: antialiased; text-shadow: 0 1px 0 rgba(0,0,0,0.01); }

h1, h2, h3, h4, h5 { color: #000; padding-bottom: 10px; text-transform: uppercase; }
h1 { font-size: 55px; line-height: 45px; }
h2 { font-size: 25px; line-height: 25px; }
h3 { font-size: 20px; line-height: 21px; }
h4 { font-size: 17px; line-height: 17px; }
h5 { font-size: 13px; line-height: 16px; }

.title {
    font-size: 70px;
    line-height: 105px;
    letter-spacing: 12px;
    color: $colDark;
    font-family: $textT;
    text-transform: uppercase;
}

.font-bold {
    font-size: 40px;
    line-height: 47px;
}

.font-desc {
    @include desc;
}

.title-s, p {
    @include color-b(0.55);
    font-size: 17px;
}

hgroup .title-s {
    padding-left: 5px;
    line-height: 22px;
}

a {
    color: $colDark;
    
    &:hover {
        text-decoration: none;
    }
}

p {
    line-height: 26px;

    b {
        color: $colDark;
    }
}

.text-item {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 1px;
}

@font-face {
    font-family: "HelveticaNeueCyr-Thin";
    src: url("fonts/HelveticaNeueCyr-Thin.eot");
    src: url("fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"),
         url("fonts/HelveticaNeueCyr-Thin.woff") format("woff"),
         url("fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeueCyr-Bold";
    src: url("fonts/HelveticaNeueCyr-Bold.eot");
    src: url("fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"),
         url("fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
         url("fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "PFDinTextCompPro-Regular";
    src: url("fonts/PFDinTextCompPro-Regular.eot");
    src: url("fonts/PFDinTextCompPro-Regular.eot?#iefix") format("embedded-opentype"),
         url("fonts/PFDinTextCompPro-Regular.woff") format("woff"),
         url("fonts/PFDinTextCompPro-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PFDinTextCompPro-Medium";
    src: url("fonts/PFDinTextCompPro-Medium.eot");
    src: url("fonts/PFDinTextCompPro-Medium.eot?#iefix") format("embedded-opentype"),
         url("fonts/PFDinTextCompPro-Medium.woff") format("woff"),
         url("fonts/PFDinTextCompPro-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}