

body { 
    background: #fff; 
}


html { @include border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body {
    min-width: 375px;
    width: 100%;
    //height: 100%;
    text-align: center;
}


body.home-page {
    @extend .scroll-hidden-y;
    
    // .page-wrap {
    //     height: 100vh;
    //     overflow-y: scroll;
    // }

    &.scroll {
        overflow-y: auto;

        // #page-wrap {
        //     height: auto;
        //     overflow-y: scroll;
        // }
    }
}



.menu-open body {
    @extend .scroll-hidden-y;
    
    // .page-wrap {
    //     height: 100vh;
    //     overflow-y: scroll;
    // }
    
    

    &.scroll {
        overflow-y: auto;
    }
}

#main {
    margin: 0 auto;
    // height: 100%;
    // height: auto !important;
    min-height: 100%;
    text-align: left;
    overflow: hidden;

    // &:after {
    //     content: "";
    //     display: block;
    //     position: static;
    //     height: 100px;
    // }
}

.socket, .socket-f {
    @include socket;
}

.clearfix {
    @include clearfix;
}

.tbl {
    @include tbl;
}

.content {
    background-color: #fff;
    z-index: 100;
    text-align: left;
}

.a-right, .a-left {
    @include display-flex;
    width: 100%;
    flex: 1;
}

.a-right {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.a-left {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.dir-right {
    text-align: right !important;
}

.lines-wrap {
    @include socket;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -553px;

    @include mid {
        margin-left: -500px;
    }
}

.lines, .balls {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
} 

.lines {
    z-index: -2;

    li {
        position: absolute;
        float: left;
        width: 1px;
        top: 0;
        bottom: 0;
        background: $colBor;
    }
}

.home-page .lines {
    
    li {
        
        &:nth-child(1) {
            left: 120px;
        }

        &:nth-child(2) {
            left: 336px;
        }

        &:nth-child(3) {
            left: 622px;
        }

        &:nth-child(4) {
            display: none;

            @include mobile {
                display: block;
                left: 345px;
            }
        }
    }

    @include mid {

        li:nth-child(2) {
            left: 288px;
        }

        li:nth-child(3) {
            left: 619px;
        }
    }

    @include tablet {

        li:nth-child(1) {
            left: 80px;
        }

        li:nth-child(2) {
            left: 257px;
        }

        li:nth-child(3) {
            left: 562px;
        }
    }

    @include mobile {
        
        li:nth-child(1) {
            left: 33px;
        }

        li:nth-child(2) {
            left: 133px;
        }

        li:nth-child(3) {
            left: 235px;
        }
    }
}

.projects-page .lines {
    z-index: 1;

    li:nth-child(1) {
        left: 40%;
    }

    li:nth-child(2) {
        left: 47%;
    }

    @include mid {

        li:nth-child(1) {
            left: 51%;
        }

        li:nth-child(2) {
            display: none;
        }
    }

    @include tablet {

        li {
            height: 100vh;
            bottom: auto;
        }

        li:nth-child(1) {
            left: 35%;
        }
    }
}

.service-page .lines {
    
    li:nth-child(1) {
        left: 33%;
    }

    li:nth-child(2) {
        left: 64%;
    }
}

.project-item-page .lines {
    z-index: 0;
    
    li:nth-child(1) {
        left: 0;
    }

    li:nth-child(2) {
        left: 19%;
    }

    li:nth-child(3) {
        left: 55%;
    }

    li:nth-child(4) {
        left: 80%;
    }

    li:nth-child(5) {
        right: 0;
    }
}

.balls {
    z-index: -1;

    li {
        @extend .fade-in;
        @extend .circ;
        position: absolute;
        width: 8px;
        height: 8px;
        background-image: -moz-linear-gradient( 0deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);
    }
}

.home-page .balls {
    

    li.line-1 {
        left: 117px;
    }

    li.line-2 {
        left: 333px;
    }

    li.line-3 {
        left: 618px;
    }

    li:nth-child(1) {
        top: 94px;
    }

    li:nth-child(2) {
        top: 315px;
    }

    li:nth-child(3) {
        top: 1033px;
    }

    li:nth-child(4) {
        top: 1440px;
    }

    li:nth-child(5) {
        top: 1780px;
    }

    li:nth-child(6) {
        top: 1700px;
    }

    li:nth-child(7) {
        top: 2250px;
    }

    li:nth-child(8) {
        top: 2350px;
    }

    li:nth-child(9) {
        top: 2650px;
    }

    li:nth-child(10) {
        top: 3400px;
    }

    li:nth-child(11) {
        top: 3650px;
    }

    @include mid {

        li.line-2 {
            left: 285px;
        }

        li.line-3 {
            left: 616px;
        }

        li:nth-child(4), li:nth-child(5), li:nth-child(6), li:nth-child(8) {
            display: none;
        }

        li:nth-child(3) {
            top: 800px;
        }
        
        li:nth-child(7) {
            top: 2020px;
        }

        li:nth-child(9) {
            top: 2900px;
        }

        li:nth-child(10) {
            top: 3230px;
        }

        li:nth-child(11) {
            top: 4550px;
        }
        
    }

    @include tablet {

        li.line-1 {
            left: 77px;
        }

        li.line-2 {
            left: 253px;
        }

        li.line-3 {
            left: 558px;
        }

        li:nth-child(11) {
            top: 4750px;
        }
    }

    @include mobile {

        li.line-1 {
            left: 30px;
        }

        li.line-2 {
            left: 130px;
        }

        li.line-3 {
            left: 232px;
        }

        li:nth-child(1) {
            top: 20px;
        }

        li:nth-child(7) {
            top: 2055px;
        }

        li:nth-child(9) {
            top: 2840px;
        }

        li:nth-child(11) {
            display: none;
        }
    }
}

.project-item-page .balls {
    z-index: 1;

    li.line-1 {
        left: -4px;
    }

    li.line-2 {
        left: 18.6%;
    }

    li.line-3 {
        left: 54.75%;
    }

    li.line-4 {
        left: 79.75%;
    }
    
    li:nth-child(1) {
        top: 270px;
    }

    li:nth-child(2) {
        top: 1020px;
    }

    li:nth-child(3) {
        top: 1813px;
    }

    li:nth-child(4) {
        bottom: 150px;
    }

    @include tablet {

        li.line-3 {
            left: 54.6%;
        }

        li.line-4 {
            left: 79.6%;
        }

        li:nth-child(1) {
            top: 230px;
        }

        li:nth-child(2) {
            top: 800px;
        }
    }

    @include mobile {
        display: none;
    }
}



/* =========================
   Header
   ========================= */

#header {
    position: relative;
    height: 100vh;
    background-size: cover !important;
    background-position: 50% 0 !important;

    > .socket, > .socket-f {
        height: 100%;   
    }
}

.header-top {
    // position: relative;
    // z-index: 101;

    .logo {
        position: absolute;
        z-index: 101;
        top: 30px;
        left: 130px;

        img {
            width: 100%;
        }
    }

    

    @include mid {

        .logo {
            left: 55px;
            width: 80px;
        }
    }

    @include mobile {

        .logo {
            left: 20px;
        }
    }
}

.header-mask {

    .mask {
        z-index: 100;
    }
}

/* --------------------
    Intro
    ------------------- */   

.intro {
    @include full;
    z-index: 100;
}


/* --------------------
    Header Slide
    ------------------- */   

.header-slide {
    position: relative;
    height: 100%;
    background-size: cover !important;
    background-position: 50% 0 !important;
}    

.scroll-ico {
    @extend .trans;
    position: absolute;
    opacity: 0;
    width: 90px;
    left: 50%;
    bottom: 40px;
    padding-top: 105px;
    margin-left: -45px;

    @include height-lt {
        display: none;
    }

    @include mid {
        bottom: 25px;
        padding-top: 90px;
    }

    @include tablet {
        display: none;
    }


    &:before {
        @extend .ps;
        @extend .circ;
        width: 90px;
        height: 90px;
        background-image: -moz-linear-gradient( 47deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);
        background-image: -webkit-linear-gradient( 47deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);
        background-image: -ms-linear-gradient( 47deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);

        @include mid {
            width: 60px;
            height: 60px;
            left: 50%;
            top: 15px;
            margin-left: -30px;
        }
    }

    &:after {
        @extend .ps;
        width: 21px;
        height: 33px;
        left: 50%;
        top: 28px;
        margin-left: -10px;
        z-index: 1;
        background: url(../images/mouse-clicker.png) no-repeat;
    }
    
    span {
        display: block;
        text-align: center;
        color: #fff;
        text-transform: uppercase;

        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -ms-animation-iteration-count: infinite;
    }
}

.header-title-wrap {
    position: absolute;
    height: 365px;
    top: 50%;
    padding-top: 60px;
    margin-top: -183px;
    z-index: 101;
    width: 100%;
    left: 0;
    text-align: center; 

    // @media (min-width: 1024px) and (max-height: 760px){
    //     top: 42%;
    // }

    // @media (min-width: 1024px) and (max-height: 590px){
    //     top: 50%;
    // }

    @include mid {
        padding-top: 40px;
    }

    @include mobile {
        height: 140px;
        margin-top: -70px;
        padding-top: 0;
    }

    .object {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -300px;
        z-index: 1;

        img {
            width: 100%;
        }

        @include mid {
            width: 390px;
            margin-left: -190px;
        }

        @include mobile {
            top: 15px;
            width: 200px;
            margin-left: -100px;
        }
    }

    .header-title {
        margin-bottom: 15px;
    }

    .text-item {
        @include color-w(0.85);
        margin-bottom: 17px;
    }
}

.header-title {
    position: relative;
    font-family: $bold;
    width: 940px;
    margin: auto;
    white-space: nowrap;
    font-size: 120px;
    letter-spacing: 5px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;

    @include mid {
        width: 570px;
        font-size: 70px;
        letter-spacing: 2px;
    }

    @include mobile {
        width: 310px;
        font-size: 40px;
        letter-spacing: 1px;
    }
}


.skip {
    position: absolute;
    left: -169px;
    top: 65px;
    padding-left: 30px;
    cursor: pointer;

    &:hover span {
        text-decoration: none;
    }

    i {
        @extend .circ;
        position: absolute;
        left: 0;
        top: 4px;
        width: 4px;
        height: 4px;
        margin-right: 3px;
        background-color: #fff;

        &:nth-child(2) {
            left: 7px;
        }

        &:nth-child(3) {
            left: 14px;
        }
    }

    span {
        color: #fff;
        font-size: 11px;
        font-family: $textMed;
        text-transform: uppercase;
        text-decoration: underline;
    }
}


/* --------------------
    Menu
    ------------------- */   

// BUTTON
.btn-menu-wrap {
    position: fixed;
    right: 135px;
    top: 25px;
    z-index: 1001;

    @include mid {
        right: 55px;
    }

    @include mobile {
        right: 20px;
    }
}

.btn-menu { 
    @extend .circ;
    position: absolute;
    right: 0;
    width: 62px;
    height: 62px;
    display: block;
    cursor: pointer;
    background-color: #fff;
    text-align: left;


    box-shadow: 0px 12px 13px 0px rgba(20, 25, 40, 0.07);



    span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -8px 0 0 -10px;
        display: block;
        width: 20px;
        height: 16px;
    }

    i {
        position: relative;
        margin: 0 0 5px;
        display: block;
        width: 100%;
        height: 2px;

        transition: opacity 0.2s 0s, transform 0.35s cubic-bezier(.49,.46,.05,.995); 
        -ms-transition: opacity 0.2s 0s, transform 0.35s cubic-bezier(.49,.46,.05,.995); 
        -webkit-transition: opacity 0.2s 0s, transform 0.35s cubic-bezier(.49,.46,.05,.995); 

        &:after, &:before {
            content:"";
            position: absolute;
            background: #000;
            width: 100%;
            height: 100%;
        }
    }

    @include mid { // Menu Button
        width: 37px;
        height: 37px;

        span {
            width: 16px;
            height: 12px;
            margin-top: -6px;
            margin-left: -8px;
        }

        i {
            margin: 0 0 3px;
        }
    }
}

// MENU NAV
$colWidth_1: 49%;
$colWidth_2: calc(100% - #{$colWidth_1} - 330px);

$colWidth_1_: 42%;
$colWidth_2_: calc(100% - #{$colWidth_1_} - 330px);


.menu-wrap {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 999;

    .decoline:nth-child(1) { // Vert Left
        left: $colWidth_1 !important;

        @media (max-width: 1280px){
            left: $colWidth_1_ !important;
        }

        @include tablet {
            display: none !important;
        }
    }

    .decoline:nth-child(2) { // Vert Right
        left: auto !important;
        right: 330px !important;
    }

    .decoline:nth-child(3) {
        top: $menuTopPad !important;
    }

    .decoline:nth-child(4) {
        top: auto !important;
        bottom: $menuBtmPad !important;
    }
}

.menu-column {
    position: relative;
    height: 100%;
    z-index: 1;
    float: left;
}

.menu-column.feedback {
    padding-left: 9%;
    width: $colWidth_1;

    .feedback-block {
        width: 85%;
        padding-top: 7vh;
    }

    .column-foot {
        left: auto;
        right: auto;
    }

    @media (max-width: 1280px){
        width: $colWidth_1_;
        padding-left: 3%;

        .feedback-block {
            width: 91%;
        }
    }

    @include tablet {
        display: none;    
    }
}

.menu-column.contacts {
    padding-left: 4%;
    width: $colWidth_2;

    @media (max-width: 1280px){
        width: $colWidth_2_;
        padding-left: 3%;
    }

    @include tablet {
        width: calc(100% - 330px);
    }

    @include mobile {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
}

.column-title {
    height: $menuTopPad;

    span {
        display: block;
        line-height: $menuTopPad;
        font-size: 30px;
        color: #fff;
        text-align: left;
        font-family: $bold;
    }

    @include tablet {
        span {
            text-align: center;
        }
    }

    @include mobile {
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
}

.column-foot {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $menuBtmPad;

    .copyright {
        @include color-w(0.3);
        padding-top: 30px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-family: $textMed;
        text-align: left;
    }

    .social {
        margin-top: 14px;
        margin-left: -15px;
    }
}

.feedback-block {
    

    .btn-g {
        width: 100%;
        margin-top: 15px;
    }
}

.menu-contact-wrap {

    @include tablet {
        @include flex-vert(space-between);
        @include calc(height, "100% - (75px + 75px + 150px)");
        margin-top: 75px;

        @media (max-height: 700px){
            @include calc(height, "100% - (75px + 75px + 45px)");
            margin-top: 30px;
        } 
    }
}

.menu-contact {
    margin-top: 6vh;
    text-align: left;

    * {
        padding-left: 22px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    span {
        @include color-w(0.4);
        display: block;
        margin-bottom: 17px;
    }

    div {
        position: relative;
        color: #fff;

        &:before {
            @extend .ps;
            @extend .circ;
            background-color: #fff;
            width: 5px;
            height: 5px;
            left: 0;
            top: 4px;
        }
    }

    @include tablet {
        text-align: center;
        margin-top: 0;

        * {
            padding-left: 0;
        }

        div {

            &:before {
                display: none;
            }
        }
    }
}

.social {

    li {
        display: inline-block;
        z-index: 0;
        vertical-align: top;

        a {
            display: table-cell;
            width: 58px;
            height: 45px;
            text-align: center;
            vertical-align: middle;

            &:hover img {
                opacity: 0.5;
            }
        }

        img {
            @extend .trans;
        }
    }

    @media (max-width: 1280px){

        li a {
            width: 40px;
        }
    }
}


// MENU EXTEND
.menu-ext {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1001;
    //padding-right: $menuWidth;
    background-color: $colDark;
    overflow: hidden;

    @include mobile {
        background-color: $colDark !important;
        z-index: 1002;
        bottom: 75px;
    }
}

// MENU
.menu {
    @include transition(transform, 0.7s, ease-out);
    @include transform(translateX($menuWidth));
    width: $menuWidth;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: $colDark;
    text-align: center;

    @include mobile {
        @include transform(translateX(100%));
        width: 100%;   
    }
    
    ul { // MENU
        position: absolute;
        left: 0;
        right: 0;
        top: $menuTopPad;

        li {
            margin-top: 10vh;

            @media (max-height: 665px){
                margin-top: 8vh;
            }

            > a {
                @include color-w(0.4s);
                position: relative;
                display: inline-block;
                font-size: 23px;
                height: 30px;
                text-decoration: none;
                letter-spacing: 1.5px;
                font-family: $textReg;

                @include transition(all, 0.75s, ease-out);
                
                &:before, &:after {
                    @extend .ps;
                    left: 0;
                    right: 0;
                    top: calc(100% + 0px);
                    top: -webkit-calc(100% + 0px);
                }

                &:after {   
                    @include transition(transform, 0.25s, ease-out);
                    @include transform(scaleX(0));
                    height: 1px;
                    transform-origin: right center;
                    background: #fff;
                }

                &:hover {
                    color: #fff;
                }

                &:hover:after {
                    @include transform(scaleX(1));
                    transform-origin: left center;
                }
            }
        }

        li.is-active a {
            color: #fff;

            &:before {
                @extend .ps;
                height: 2px;
                left: 0;
                right: 0;
                top: calc(100% + 1px);
                top: -webkit-calc(100% + 1px);
                background-image: -moz-linear-gradient( 0deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);
                background-image: -webkit-linear-gradient( 0deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);
                background-image: -ms-linear-gradient( 0deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);
            }

            &:after {
                display: none;
            }
        }
    }

    .btn-g { // BUTTON
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $menuBtmPad;
        line-height: $menuBtmPad;
    }
}

.lang {
    position: absolute;
    bottom: $menuBtmPad + 30px;
    left: 0;
    right: 0;

    a {
        @include color-w(0.4);
        display: inline-block;
        font-family: $textMed;
        margin: 0 7px;
        letter-spacing: 1.5px;
        text-transform: uppercase;

        &.is-active {
            color: #fff;
            text-decoration: none;
            cursor: default;
        }
    }
}


@include mid { 
    
    .menu-wrap {
    
        .decoline:nth-child(3) {
            top: $menuTopPadMid !important;
        }
    }

    .menu ul {
        top: $menuTopPadMid;
    }

    .column-title, .column-title span {
        height: $menuTopPadMid;
    }

    .column-title span {
        font-size: 20px;
        line-height: $menuTopPadMid;
    }

    .input-wrap textarea {
        height: 80px !important;
    }

    .menu-column.feedback .feedback-block {
        padding-top: 30px;
    }

    .feedback-block .btn-g {
        margin-top: 0;
    }
}

/* =========================
   Footer
   ========================= */   

#footer {
    background: #fff;
    text-align: left;

    .socket {
        width: 1240px;
    }

    .footer-main {
        height: 130px;
        padding-top: 45px;
        padding-left: 325px;

        .btn {
            float: left;
        }

        .social {
            position: relative;
            right: -17px;
            float: right;
        }
    }

    .footer-logos {
        position: absolute;
        top: 43px;
        left: 0;

        img {
            margin-right: 45px;
        }
    }

    address {
        @include flex(space-between);
        float: left;
        width: 390px;
        padding-top: 6px;
        flex-wrap: wrap;

        a {
            @include desc;
            display: block;
            width: 50%;
            position: relative;
            padding-left: 21px;
            margin-bottom: 25px;
            text-decoration: none;
            color: $colDark;
            font-style: normal;

            &:before {
                @extend .ps;
                @extend .circ;
                width: 5px;
                height: 5px;
                left: 0;
                top: 3px;
                background-color: $colDark;
            }
        }
    }

    .footer-bottom {
        padding-top: 20px;
        height: 55px;
        border-top: 1px solid $colBor;
        
        .copyright, .dev span {
            @include desc;
            font-size: 13px;
            padding-left: 15px;
            color: $colDark;
            letter-spacing: 1px;
        }

        .copyright {
            float: left;
        }

        .dev {
            float: right;

            span {
                display: inline-block;
                padding: 3px 10px 0 0;
                vertical-align: top;
            }
        }
    }
}

@include mid {

    #footer {

        .socket {
            width: 1000px;
        }

        .footer-main {
            padding-left: 260px;

            .social {
                right: 0;
            }
        }

        .footer-logos {
            img {
                margin-right: 20px;
            }
        }

        address {
            width: 340px;
        }

        .footer-bottom .dev {
            padding-right: 15px;
        }
    }
}

@include tablet {

    #footer {

        .socket {
            width: 700px;
        }

        .footer-main {
            height: 220px;
            padding: 145px 0 0;

            .social {
                float: left;
            }

            .btn {
                float: right;
            }
        }

        .footer-logos {
            left: 30px;
        }

        address {
            position: absolute;
            width: 360px;
            top: 58px;
            right: 0;
            padding-top: 0;

            a {
                margin-bottom: 12px;

                &:nth-child(odd) {
                    width: 60%;
                }

                &:nth-child(even) {
                    width: 40%;
                }
            }
        }

        .footer-bottom {
            height: 100px;
            padding-top: 38px;
        }

        .social {
            margin-top: 10px;

            li a {
                width: 60px;
            }
        }
    }
}

@include mobile {

    #footer {

        .socket {
            width: auto;
        }

        .footer-main {
            padding-top: 27px;

            .btn {
                display: none;
            }

            .social {
                width: 300px;
                margin: auto;
                float: none;
            }
        }

        .footer-logos {
            position: static;
            text-align: center;
            margin-bottom: 20px;

            img {
                margin: 0 12px;
            }
        }

        address {
            width: 350px;
            margin: auto;
            justify-content:center;
            -webkit-justify-content: center;
            float: none;
            position: static;
            text-align: center;

            a {
                width: 50% !important;
                padding-left: 0;
                font-size: 10px;
                text-align: center;
                margin-bottom: 18px;

                &:before {
                    display: none;
                }
            }
        }

        .footer-bottom {
            height: 50px;
            padding-top: 18px;

            .copyright, .dev span {
                font-size: 10px;
            }

            .copyright {
                line-height: 15px;
            }

            .dev  {

                span {
                    padding: 4px 0 0;
                }

                a img {
                    @include transform(scale(0.85));
                }
            }
        }

        
    }
}


