@import "func";

@import "animation";

@import "fonts";

@import "layout";

@import "buttons";

@import "form";





/* --------------------
    About
    ------------------- */   

.section {
    position: relative;
    z-index: 1;
}

.figure {
    position: absolute !important;

    img {
        display: block;
        width: 100%;
    }
}


.team-items {
    position: absolute;
    width: 135px;
    padding-left: 30px;

    .font-bold {
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 5px;
    }
}

.section.about {
    padding: 140px 0 0;

    hgroup {
        padding-left: 333px;
        margin-bottom: 85px;
    }
    
    // First Block
    .block:nth-child(1) {
        position: absolute;
        width: 837px;
        left: -665px;
        top: 193px;

        .team-items {
            display: none;
        }

        .text-block {
            position: absolute;
            width: 200px;
            top: 120px;
            left: 785px;
        }

        .image {
            width: 755px;
            height: 440px;
        }

        .panel-wrap {
            position: absolute;
            width: 415px;
            top: 590px;
            left: 586px;

            .panel-item {
                position: static;
            }

            .year {
                @include rot(-90deg);
                position: absolute;
                width: 70px;
                right: 65px;
                bottom: -44px;
                white-space: nowrap;
            }
        }
    }

    // Second Block
    .block:nth-child(2) {
        float: left;
        width: 450px;
        margin-left: 333px;
        padding-right: 159px;

        p {
            padding-left: 3px;
        }
    }

    // Third Block
    .block:nth-child(3) {
        position: relative;
        z-index: 3;
        float: right;
        width: 282px;
        margin-top: -30px;
    
        img.proj-items {
            margin-left: -28px;
            margin-bottom: 18px;
        }
        
        p {
            margin-bottom: 24px;
        }
    }

    .block-top {
        margin-bottom: 30px;
    }

    // Bottom Block
    .block-bottom {
        position: relative;
        padding-left: 337px;
        height: 880px;
        
        .team-items {
            top: 250px;
            left: 119px;

            @include mid {
                display: none;
            }
        }

        .image {
            width: 737px;
            height: 510px;
        }

        .panel-wrap:nth-child(1) {
            top: 560px;
            left: 121px;
            width: 34%;
        }

        .panel-wrap:nth-child(2) {
            top: 430px;
            right: 86px;
            width: 36%;

            .panel-item {
                padding-bottom: 40px;               
            }

            .logos {
                margin-bottom: 25px;
            }
        }
    }
}


@include mid { // MIDDLE
    
    .section.about {
        padding: 70px 0 0;

        hgroup {
            padding-left: 287px;
        }

        .block-top {
            margin-bottom: 0;
            padding-bottom: 410px;
        }

        .block:nth-child(1) {
            left: -462px;

            .team-items {
                position: absolute;
                display: block;
                top: 90px;
                left: 833px;
            }

            .text-block {
                top: 160px;
                left: 1081px;
            }

            .image {
                //width: 500px;
                //height: 500px;
            }

            .panel-wrap {
                width: 320px;
                top: 415px;
                left: 582px;

                .year {
                    right: 0;
                }
            }
        }

        .block:nth-child(2) {
            position: absolute;
            top: 930px;
            left: 117px;
            margin: 0;
        }

        .block:nth-child(3) {
            margin-top: 300px;
            margin-right: 70px;

            img.proj-items {
                width: 305px;
            }
        }

        .block-bottom {
            height: 780px;
            padding-left: 0;

            .image {
                margin: auto;
            }
        }
    }
}

@include tablet { // TABLET

    .section.about {

        hgroup {
            padding-left: 256px;
        }

        .block-top {
            height: 1000px;
            padding-bottom: 0;
        }
        
        .block:nth-child(1) {
            top: 220px;
            left: -493px;

            .panel-wrap {
                left: 506px;
            }

            .text-block {
                left: auto;
                top: 213px;
                right: -418px;
            }

            .team-items {
                left: 805px;
            }
        }

        .block:nth-child(2) {
            left: 77px;
        }

        .block:nth-child(3) {
            position: absolute;
            left: 444px;
            top: 665px;
            margin: 0;
        }

        .block-bottom {
            height: 900px;

            .image {
                width: 635px;
            }

            .panel-wrap:nth-child(1) {
                width: 420px;
                top: 850px;
                left: 80px;
            }

            .panel-wrap:nth-child(2) {
                width: 400px;

                p br {
                    display: none;
                }
            }
        }
    }
}

@include mobile {

    .section.about {

        hgroup {
            padding-left: 32px;
        }
        
        .block:nth-child(1) {
            top: 220px;
            left: -216px;

            .image {
                width: 330px;

                img {
                    width: 100%;
                }
            }

            .team-items {
                top: -40px;
                left: 451px;
            }

            .text-block {
                top: 100px;
                left: 350px;
                right: auto;
            }

            .panel-wrap {
                display: none;
            }
        }

        .block:nth-child(2) {
            width: 250px;
            left: 34px;
            padding: 0;
        }

        .block:nth-child(2) {
            p {
                padding-left: 0;
            }
        }

        .block:nth-child(3) {
            top: 535px;
            left: 50px;

            img.proj-items {
                width: 220px;
                margin-left: -16px;
            }
        }

        .block-bottom {
            height: 680px;

            .image {
                margin-left: 33px;
                width: 320px;
                height: 330px;

                img {
                    width: 100%;
                }
            }

            .panel-wrap {

                &:nth-child(1) {
                    width: 320px;
                    left: 34px;
                    top: 620px;
                }

                &:nth-child(2) {
                    right: 30px;
                    top: 270px;
                    width: 290px;

                    .panel-item {
                        padding-bottom: 30px;
                    }

                    .logos {
                        img:nth-child(1) {
                            width: 100px;
                            margin-right: 35px;
                        }

                        img:nth-child(2) {
                            width: 45px;
                        }
                    }
                }
            }
        }
    }
}

// @media (max-width: 800px){

//     .section.about {
//         .block:nth-child(1) {
//             .text-block {
//                 right: -150px;
//             }
//         }
//     }
// }

.text-block {

    .font-bold {
        margin-bottom: 13px;
    }
}

.panel-wrap {
    position: absolute;
}
     
.panel-item {
    padding: 32px 40px;
    background-color: #fff;
    box-shadow: 0px 24px 73px 0px rgba(20, 25, 40, 0.07);
    -webkit-box-shadow: 0px 24px 73px 0px rgba(20, 25, 40, 0.07);

    @include mid {
        padding: 30px 25px;
    }

    @include mobile {
        box-shadow: 0px 14px 33px 0px rgba(20, 25, 40, 0.07);
        -webkit-box-shadow: 0px 14px 33px 0px rgba(20, 25, 40, 0.07);
    }
}     

/* --------------------
    Clients
    ------------------- */  

.section.clients {
    padding-left: 117px;
    margin-bottom: 265px;

    .figure {
        top: 285px;
        left: -280px;
    }

    hgroup {
        margin-bottom: 189px;
    }

    .quote {
        width: 425px;
        padding-left: 3px;

        p {
            margin-bottom: 23px;
        }

        .sign {
            text-align: right;
        }
    }

    .image {
        position: absolute;
        width: 940px;
        height: 504px;
        top: 130px;
        left: 622px;

        img {
            position: relative;

        }
    }
}    

.sign {
    position: relative;
    padding: 20px 40px 0 0;
    text-transform: uppercase;
    font-family: $textMed;

    &:after {
        @extend .ps;
        right: 0;
        top: 0;
        width: 22px;
        height: 19px;
        background: url(../images/quote.png) no-repeat;
    }
}

@include mid { // MIDDLE

    .section.clients {

        .figure {
            width: 300px;
            left: -120px;
            top: 700px;
        }

        hgroup {
            margin-left: -1px;
            margin-bottom: 500px;
        }

        .image {
            left: 150px;

        }
    }
}

@include tablet {

    .section.clients {
        padding-left: 80px;

        .figure {
            left: -190px;
            top: 500px;
        }

        .image {
            left: 130px;
        }

        .quote {
            padding-left: 0px;
        }
    }
}

@include mobile {

    .section.clients {
        padding-left: 33px;
        margin-bottom: 110px;
        
        hgroup {
            margin-bottom: 390px;
        }

        .image {
            width: 780px;
            left: 33px;

            img {
                width: 100%;
            }
        }

        .quote {
            width: 330px;
            padding-left: 2px;
        }
    }
}

/* --------------------
    Team
    ------------------- */  

.section.team {
    padding-bottom: 175px;

    hgroup {
        margin: 0 472px 250px 0;
        text-align: right;

        .title-s {
            padding-right: 8px;
        }
    }

    .figure {
        bottom: -160px;
        left: -350px;
    }
}    

.team-member-wrap {
    @include flex(space-between);
}

.team-member {
    position: relative;
    width: 49%;
    height: 408px;
    text-align: center;

    .team-member-inner {
        height: 430px;
        //overflow: hidden;
    }

    &:nth-child(1) {
        width: 45.5%;
        margin-top: 127px;

        .image img {
            position: relative;
        }
    }

    .bg {
        position: absolute;
        height: 408px;
        width: 100%;
        left: 0;
        bottom: 0;

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            display: block;
            background-image: -moz-linear-gradient( 0deg, rgb(226,235,239) 0%, rgb(202,215,224) 100%);
            background-image: -webkit-linear-gradient( 0deg, rgb(226,235,239) 0%, rgb(202,215,224) 100%);
            background-image: -ms-linear-gradient( 0deg, rgb(226,235,239) 0%, rgb(202,215,224) 100%);
        }
    }

    .first-letter {
        position: absolute;
        top: 40px;
        right: 62px;
        z-index: 1;
        text-transform: uppercase;
        color: #fff;
        font-size: 198px;
        font-family: $bold;
    }

    .image {
        position: relative;
        top: -222px;
        z-index: 2;
    }

    .panel-wrap {
        width: 265px;
        bottom: 10px;
        left: 50%;
        margin-left: -132px;
        text-align: center;

        .font-bold {
            margin-bottom: 12px;
        }
    }

    .parallax:last-child {
        z-index: 3;
    }
}

.team-list-container {
    margin-top: -170px;
}

.team-list-wrap {
    width: 600px;

    &:nth-child(1) {
        width: 600px;
        margin-left: 550px;
        margin-bottom: 75px;
    }

    &:nth-child(2) {
        width: 660px;
        margin-left: 120px;
    } 
}

.team-list {
    @include flex(space-between);
    width: 100%;

    .team-column {
        flex: 1;
        flex-basis: 0;
    }

    span {
        @include color-b(0.6);
        padding-left: 17px;
        display: block;
        font-size: 17px;
        margin-bottom: 12px;
    }

    @include mobile {

        span {
            font-size: 14px;
            margin-bottom: 8px;
        }
    }
}

.title-line {
    position: relative;
    padding-left: 17px;
    text-transform: uppercase;
    font-family: $textMed;
    margin-bottom: 21px;
    font-size: 13px;

    &:before {
        @extend .ps;
        width: 8px;
        height: 1px;
        left: 0;
        top: 5px;
        background-color: $colDark;
    }

    @include mobile {
        font-size: 11px;
        margin-bottom: 18px;
    }
}


@include mid {

    .section.team {

        hgroup {
            margin-right: 0;
            margin-left: 119px;
            text-align: left;
        }
    }

    .team-list-container {
        margin-top: 0;
    }

    .team-list-wrap {
        width: 660px !important;

        &:nth-child(1) {
            margin-left: 120px;
        }
    }

    .team-member {

        .image {
            top: -300px;
        }

        .panel-wrap {
            bottom: 60px;
        }
    }
}

@include tablet {

    .section.team {

        hgroup {
            margin-left: 79px;        
            margin-bottom: 350px;
        }

        .figure {
            left: -280px;
        }
    }

    .team-member-wrap {
        width: 565px;
        display: block;
        margin: auto; 
    }

    .team-member {
        width: 100% !important;

        &:nth-child(1) {
            margin-bottom: 210px;
        }
    }

    .team-list-wrap {
        margin-left: 80px !important;
    }
}

@include mobile {

    .section.team {
        padding-bottom: 85px;

        hgroup {
            margin-left: 33px;
            margin-bottom: 250px;
        }
    }

    .team-list-container {
        margin-top: -50px;
    }

    .team-member-wrap {
        width: 290px;
    }

    .team-member {
        height: 225px;

        .team-member-inner {
            height: 260px;
        }

        .bg {
            height: 225px;
        }

        .image {
            top: -190px;
        }

        .first-letter {
            font-size: 100px;
            right: 35px;
            top: 0;
        }

        .panel-wrap {
            width: 160px;
            margin-left: -80px;

            .panel-item {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }

        &:nth-child(1) {
            margin-bottom: 130px;   

            .image img {
                width: 145px;
            }
        }

        &:nth-child(2) {

            .image {
                top: -205px;
            }

            .image img {
                width: 125px;
            }
        }
    }

    .team-list-wrap {
        width: 350px !important;
        margin-left: 33px !important;
        margin-bottom: 40px;

        .team-list {
            flex-wrap: wrap;

            .team-column {
                width: 50%;
                flex: none;
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


/* --------------------
    Principles
    ------------------- */  

.section.principles {
    padding-left: 120px;

    hgroup {
        margin-bottom: 40px;
        margin-left: -2px;

        @include mobile {
            margin-left: -1px;
        }
    }
}

.princ-slider-wrap {
    width: 985px;
    margin-bottom: 110px;
}


.princ-slider-buttons {
    @include flex(space-between);
    flex-wrap: wrap;
    border: 1px solid $colBor;
    border-right: none;
    border-bottom: none;

    li {
        width: 22%;
        border-right: 1px solid $colBor;
        border-bottom: 1px solid $colBor;

        &:nth-child(2), &:nth-child(6) {
            width: 29%;
        }

        &:nth-child(4), &:nth-child(8) {
            width: 27%;
        }
        
        span {
            @include transition(all, 0.6s, ease);
            position: relative;
            display: block;
            height: 130px;
            line-height: 130px;
            text-align: center;
            text-transform: uppercase;
            font-family: $textMed;
            text-decoration: none;
            letter-spacing: 0.8px;
            cursor: pointer;

            &:after {
                @extend .trans-func;
                @extend .ps;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;

                background-image: -moz-linear-gradient( 0deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);
                background-image: -webkit-linear-gradient( 0deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);
                background-image: -ms-linear-gradient( 0deg, rgb(193,230,247) 0%, rgb(4,134,193) 100%);

                -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
            }
        }

        &.is-active span {
            color: #fff;

            &:hover {
                letter-spacing: 0.8px;
            }

            &:after {
                @extend .trans-slider-mask;
            }
        }

        &.is-clicked span {
            color: #fff;

            &:hover {
                letter-spacing: 0.8px;
            }

            &:after {
                -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
                clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
            }
        }
    }
}

.no-touchevents .princ-slider-buttons li span:hover {
    letter-spacing: 2px;
}

.trans-func {
    @include transition(all, 0.6s, ease-out);
}

.trans-slider-mask {
    @extend .trans-func;
    @include delay(0.5s);

    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    overflow: hidden;

    .animate & {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }            
}


$navWidth: 243px;

.princ-slider {
    width: 985px;
    height: 290px;
    position: relative;
    margin-top: -1px;
    //margin-left: -318px;
    //padding-right: $navWidth * 2;


    .princ-slider-nav, .princ-slider-desc {
        position: absolute;
        //width: $navWidth;
        height: 100%;
        top: 0;
        border-right: 1px solid $colBor;
        border-bottom: 1px solid $colBor;
    }

    .princ-slider-nav {
        right: $navWidth;
        
        width: 22%;    
        right: 27%;
    }

    .princ-slider-desc {
        @extend .trans;
        @include mdl;
        width: 27%;
        right: 0px;
        padding: 0 28px 0 40px;
        border-top: 1px solid $colBor;
        overflow: hidden;

        opacity: 0; 

        &.show {
            opacity: 1;
        }
    }

    .princ-slider-count {
        position: absolute;
        left: 0;
        right: 0;
        top: 193px;
        font-size: 30px;
        text-align: center;

        &:before {
            @extend .ps;
            @include rot(40deg);
            left: 49%;
            top: -45px;
            width: 3px;
            height: 21px;
            background-color: #e0e1e2;
        }
    }

    .princ-slider-item {
        position: absolute;
        left: -308px;
        width: 810px;
        height: 290px;
    }
        
    #slider {
        @extend .trans-slider-mask;
        position: absolute;
        overflow-y: hidden;

        li {
            
            background-size: cover !important;
            background-position: 50% 0 !important;
            background-repeat: no-repeat !important;
        }
    }

    ul li.panel, div.anythingSlider {
        height: 290px !important;
    }

    ul li.panel {
        opacity: 1 !important;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        overflow: hidden;

        &.slideUp {
            @extend .trans-func;

            -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            
        }
    }

    div.anythingSlider { 
        
        .arrow  {
            cursor: pointer; 
            width: 28px;
            height: 10px;
            top: auto;
            z-index: 100;

            &:after {
                @include transition(all, 0.4s, ease-out);
                @extend .ps;
                width: 20px;
                height: 2px;
                top: 4px;
                background-color: $colDark;
            }

            &:before {
                content: "";
                display: block;
                top: 1px;
            }

            &:hover:after {  
                width: 27px; 
            }

            a { 
                width:100%; height:100%; margin: 0; 
            }

            &.forward { 
                right: -183px; 
                bottom: 25px;

                &:after {
                    left: auto;
                    right: 8px;
                }

                &:before {
                    @include st(7px, $colDark, 45deg);
                    top: 2px;
                    right: 0;
                }
            }

            &.back { 
                top: 25px;
                left: auto;
                right: -58px; 

                &:after {
                    left: 8px;
                }

                &:before {
                    @include st(7px, $colDark, -135deg);
                    left: 0;
                }
            }

        }

        .thumbNav { 
            width: 215px; right: -215px; height: 290px; top: 72px; left: auto; bottom: auto; position: absolute; z-index: 2; text-align: center; font-size: 0; 

            li {
                position: absolute; margin: 0; left: 0; right: 0;
                display: inline-block; float: none; vertical-align: top;

                a { 
                    opacity: 0; width: auto; height: auto; display: block; text-decoration: none; margin:  0; background:none; outline: 0; padding:0; 
                    font-size: 50px; color: $colDark; text-indent: 0; text-align: center;

                    &:before {
                        content: "0";
                    }

                    &.cur { opacity: 1; }
                }
            }
        }
        
    }
}

@include mid { // MIDDLE

    .princ-slider-buttons {

        li {
            width: 24%;
        }

        li:nth-child(2), li:nth-child(6) {
            width: 23.5%;
        }

        li:nth-child(3), li:nth-child(7) {
            width: 23.5%;
        }

        li:nth-child(4), li:nth-child(8) {
            width: 29%;
        }
    }

    .princ-slider-wrap {
        width: 80%;
    }

    .princ-slider {
        width: 99.9%;

        .princ-slider-nav {
            display: none;
        }

        .princ-slider-item {
            width: 71%;
            position: static;
        }

        .princ-slider-desc {
            width: 29%;
            padding: 0 20px;
        }

        div.anythingSlider {

            .thumbNav, .arrow {
                display: none !important;
            }
        }
    }
}

@include tablet {

    .section.principles {
        padding-left: 80px;
    }
    
    .princ-slider-buttons {

        li {
            width: 26%;
        }

        li:nth-child(2), li:nth-child(6) {
            width: 22.5%;
        }

        li:nth-child(3), li:nth-child(7) {
            width: 22.5%;
        }

        li:nth-child(4), li:nth-child(8) {
            width: 29%;
        }
    }

    .princ-slider-wrap {
        width: 680px;
    }

    .princ-slider {
        width: 100%;
    }
}

@include mobile {

    .princ-slider-wrap {
        margin-bottom: 0;
    }

    .section.principles {
        padding-left: 33px;
    }

    .princ-slider-buttons {
        width: 313px;

        li {
            position: relative;
            width: 50% !important;
            padding: 0 40px; 
            height: 80px;
            line-height: 80px;

            span {
                position: static;
                width: 100%;
                display:inline-block;
                vertical-align: middle;
                line-height: 24px;
                height: auto;
                font-size: 11px;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    z-index: -1;
                }
            }
        }
    }

    .princ-slider {
        width: 313px;
        height: auto;

        .princ-slider-item {
            width: 100%;
            height: 112px;
        }

        .princ-slider-desc-wrap {
            position: relative;
            padding-bottom: 250px;
        }

        .princ-slider-desc {
            padding: 15px 1px 40px;
            width: 100%;
            display: block;
            border: none;
            height: auto;
        }

        ul li.panel, div.anythingSlider {
            height: 112px !important
        }
    }


}

/* --------------------
    Page Navigation
    ------------------- */  

$pageNavHeight: 310px;

.page-nav-wrap {
    position: relative;
    overflow: hidden;
    height: $pageNavHeight;
}

.page-nav-button {
    @include mdl;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;

    &:nth-child(1) {
        left: 0;

        background-image: -moz-linear-gradient( 0deg, rgb(233,233,233) 0%, rgb(255,255,255) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(233,233,233) 0%, rgb(255,255,255) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(233,233,233) 0%, rgb(255,255,255) 100%);
        
        .page-nav-name {
            right: 0;
            padding-right: 370px;
            color: #e6e6e6;
            text-align: right;
        }

        .page-nav-arrow {
            text-align: right;
            padding-right: 90px;

            span {
                color: $colDark;
            }

            div {
                right: 170px;

                &:after {
                    background: url(../images/nav-arrow-l.png) no-repeat;
                    left: -13px;
                }
            }
        }
    }

    &:nth-child(2) {
        right: 0;

        background-image: -moz-linear-gradient( 0deg, rgb(18,17,17) 0%, rgb(48,48,48) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(18,17,17) 0%, rgb(48,48,48) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(18,17,17) 0%, rgb(48,48,48) 100%);

        .page-nav-name {
            left: 0;
            padding-left: 400px;
            color: #363636;
        }

        .page-nav-arrow {
            padding-left: 90px;

            span {
                color: #fff;
            }

            div {
                left: 170px;

                &:after {
                    background: url(../images/nav-arrow-r.png) no-repeat;
                    right: -13px;
                }
            }
        }
    }

    
}

.no-touchevents .page-nav-button {
    
    &:hover { 

        &:nth-child(1) .page-nav-name {
            @include transform(translateX(-50px));
        }

        &:nth-child(2) .page-nav-name {
            @include transform(translateX(50px));
        }

        .page-nav-arrow {

            div {
                width: 240px;
            }
        }
    }
}
    

.page-nav-name {
    @extend .trans;
    position: absolute;
    top: 0;
    font-size: 120px;
    letter-spacing: 33px;
    line-height: $pageNavHeight;
    font-family: $bold;
    text-transform: uppercase;
}

.page-nav-arrow {
    position: relative;
    width: 100%;

    span {
        @extend .trans;
        @extend .font-desc;
        font-size: 13px;
    }

    div {
        @extend .trans;
        position: absolute;
        top: 5px;
        width: 195px; 
        height: 1px;
        background: #66686f;

        &:after {
            @extend .ps;
            top: -4px;
            left: auto;
            width: 6px;
            height: 10px;
            background-size: 6px auto !important;
        }
    }
}

@include mid { // MIDDLE
    
    .page-nav-button {

        &:nth-child(1) {

            .page-nav-name {
                padding-right: 280px;
            }

            .page-nav-arrow {
                padding-right: 40px;

                div {
                    right: 105px;
                }
            }
        }

        &:nth-child(2) {

            .page-nav-name {
                padding-left: 300px;
            }

            .page-nav-arrow {
                padding-left: 40px;

                div {
                    left: 105px;
                }
            }
        }
    }

    .page-nav-arrow {

        div {
            width: 115px;
        }
    }

    .no-touchevents .page-nav-button:hover .page-nav-arrow div {
        width: 200px;
    }
}

@include tablet {

    .page-nav-button {

        &:nth-child(1) {

            .page-nav-name {
                padding-right: 220px;
            }
        }

        &:nth-child(2) {

            .page-nav-name {
                padding-left: 240px;
            }
        }

        &:hover {

            .page-nav-arrow div {
                width: 130px;
            }
        }
    }

    .page-nav-arrow {

        div {
            width: 95px;
        }
    }
}


@include mobile {

    .page-nav-wrap {
        height: 125px;
    }

    .page-nav-name {
        line-height: 125px;
        font-size: 35px;
        letter-spacing: 13px;
    }

    .page-nav-arrow  {

        span {
            font-size: 11px;
        }
        
        div {
            width: 28px;
        }
    }

    .page-nav-button {

        &:nth-child(1) {

            .page-nav-name {
                padding-right: 100px;
            }

            .page-nav-arrow {
                padding-right: 15px;

                div {
                    right: 60px;
                }
            }
        }

        &:nth-child(2) {

            .page-nav-name {
                padding-left: 110px;
            }

            .page-nav-arrow {
                padding-left: 15px;

                div {
                    left: 55px;
                }
            }
        }

        &:hover {

            .page-nav-arrow div {
                width: 130px;
            }
        }
    }
}

.page-404, .page-404 .page-wrap, .page-404 body, .block-404,  {
    height: 100%;
}

.block-404 {
    background-color: #10141e;
    overflow: hidden;

    .socket {
        padding-top: 25vh;
        height: 100%;

        @include tablet {
            margin: 0 45px;
        }

        @include mobile {
            width: auto;
        }
    }

    .lines {
        z-index: 0;

        li {
            opacity: 0.2;
        }

        li:nth-child(1) {
            left: 420px;
        }

        li:nth-child(2) {
            left: 528px;
        }
    }

    .back {
        position: absolute;
        left: 0;
        bottom: 42px;   
    }
}

.text-404 {
    color: #fff;
    text-align: left;

    b, span {
        position: relative;
        z-index: 1;
    }

    b {
        font-size: 177px;
        letter-spacing: 3px;
        margin-bottom: 18px;
        font-family: $bold;
        font-weight: normal;

        @media (max-height: 530px){
            font-size: 100px;
        }
    }

    span {
        display: block;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.circle-404 {
    position: absolute;
    top: 25vh;
    left: 247px;
    width: 512px;
    height: 354px;
    background: url(../images/circle-404.png) no-repeat;

    @media (max-height: 530px){
        display: none;
    }
}

.page-not-found {
    position: absolute;
    left: 80%;
    top: 74vh;
    font-size: 17px;
    font-family: $textI;
    color: #fff;

    @include mobile {
        left: 60%;
    }
}


.back {
    display: inline-block;
    padding-left: 40px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1.5px;

    span {
        @extend .trans;
        border-bottom: 1px solid rgba(255,255,255,0);
    }

    i {
        position: absolute;
        top: 5px;
        left: 7px;
        width: 20px;
        height: 2px;
        background-color: #fff;

        &:after {
            @include st(5px, #fff, -135deg);
            content: "";
            left: -7px;
            top: -1px;
        }
    }

    &:hover span {
        border-bottom: 1px solid rgba(255,255,255,1);
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    
    .princ-slider-desc span {
        display: none;
    }
}

@import "projects";

@import "project-item";

@import "service";

@import "ie";